/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.place-name {
  color: rgb(51, 112, 117);
  font-size: 3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header-activity {
  background: rgb(240, 240, 240);
  background: linear-gradient(
    90deg,
    rgb(171, 213, 212) 0%,
    rgba(223, 246, 255, 1) 35%,
    rgb(218, 236, 236) 100%
  );
  height: 250px;
}

.carousel-image {
  width: 100%; /* Set width as needed */
  height: 100%; /* Set height as needed */
  object-fit: contain; /* Ensure the image covers the entire container */
}
.carousel-inner-act {
  width: 100%; /* Set width as needed */
  height: 100%; /* Set height as needed */
  object-fit: contain; /* Ensure the image covers the entire container */
}

#myCarousel {
  .carousel {
    width: 800px; /* Set the width as needed */
    height: 200px; /* Set the height as needed */
  }
}

.brand {
  font-size: 4em;
  color: rgb(10, 156, 156);
}

.act-container {
  background: rgb(213, 243, 247);
}

.top10 {
  color: rgb(8, 138, 140);
}

.near-you {
  color: rgb(61, 107, 120);
}

.current-location {
  color: rgb(10, 156, 156);
  font-size: 1em;
}

.card-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2em;
}

.card-body {
  background: rgb(240, 240, 240);
  background: linear-gradient(
    90deg,
    rgb(224, 238, 238) 0%,
    rgb(237, 248, 253) 35%,
    rgb(232, 246, 239) 100%
  );
}
